<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!--1.BufferSize为缓冲区大小，只有日志记录超设定值才会一块写入到数据库-->
      <bufferSize value="1" />
      <!--2.引用-->
      <connectionType value="System.Data.SqlClient.SqlConnection,System.Data,Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <!--3.连接数据库字符串-->
      <connectionString value="data source=192.168.1.37;initial catalog=goodwe_openapi_log;integrated security=false;persist security info=True;User ID=sa;Password=sql@2008" />
      <!--4.插入到表Log-->
      <!--<commandText value="INSERT INTO global_gm_log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />-->
      <!--<commandText value="execute OpenApiLogInsert @tablename,@thread,@log_level,@logger,@message,@exception,@userid,@keyId,@logType,@no" />-->
      <!--日志记录时间，RawTimeStampLayout为默认的时间输出格式-->
      <!--<parameter>
        <parameterName value="@tablename" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{OpenApiyyyyMM}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="zofnouCommon.OpenApiDefaultLogLayout,zofnouCommon">
          <param name="ConversionPattern" value="%autoObj{Message}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@userid" />
        <dbType value="String" />
        <size value="50" />
        <layout type="zofnouCommon.OpenApiDefaultLogLayout,zofnouCommon">
          <param name="ConversionPattern" value="%autoObj{UserId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@keyId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="zofnouCommon.OpenApiDefaultLogLayout,zofnouCommon">
          <param name="ConversionPattern" value="%autoObj{KeyId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logType" />
        <dbType value="Int16" />
        <layout type="zofnouCommon.OpenApiDefaultLogLayout,zofnouCommon">
          <param name="ConversionPattern" value="%autoObj{LogType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@no" />
        <dbType value="String" />
        <size value="50" />
        <layout type="zofnouCommon.OpenApiDefaultLogLayout,zofnouCommon">
          <param name="ConversionPattern" value="%autoObj{No}"/>
        </layout>
      </parameter>-->

      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <level value="all" />
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
</configuration>